/*****************
General Formatting
******************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

article,
aside {
    padding: .5rem;
}

#extracredit {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid darkgreen;
}


/**************
Your Formatting
***************/
header {
    grid-area: h;
    background-color: lightpink;
}

nav {
    grid-area: n;
    background-color: lavenderblush;
    display: flex;
    z-index: 2;
}

aside {
    grid-area: as;
    background-color: lightblue;
}

#extracredit {
    grid-area: ex;
}

article {
    grid-area: ar;
    background-color: lightcyan;
}

footer {
    grid-area: f;
    background-color: lightpink;
}


#yourgrid {
    display: grid;

    width: 90vw;
    max-width: 1000px;
    min-height: 100vh;
    grid-template-rows: 75px 30px 1fr 2fr 50px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "h h"
    "n n "
    "ar as"
    "ar ex"
    "f f ";
}

@media screen and (max-width: 600px) {
    #yourgrid {
        width: 100vw;

        grid-tem
    }
}


    